# NOAA Global Surface Data Analysis

In [19]:
from H_noaa import *
n = Noaa()
df = n.getSeveralyear()

In [21]:
df['MAX'] = df['MAX'].apply(lambda x: x.replace('*',''))
df['MAX'].head(50)

0     51.3
1     54.1
2     56.8
3     58.5
4     52.7
5     48.0
6     46.0
7     48.4
8     46.8
9     50.5
10    47.7
11    45.0
12    44.4
13    47.7
14    50.0
15    51.8
16    47.7
17    53.2
18    48.7
19    53.4
20    52.5
21    56.3
22    54.1
23    56.3
24    54.1
25    51.4
26    45.9
27    52.7
28    52.5
29    52.3
30    51.1
31    46.8
32    44.4
33    41.9
34    40.3
35    37.4
36    35.4
37    32.4
38    41.7
39    35.8
40    43.3
41    47.5
42    44.8
43    39.7
44    41.2
45    52.0
46    50.5
47    47.8
48    47.1
49    43.2
Name: MAX, dtype: object

In [80]:

dfRte2015 = pd.read_table('RTE/eCO2mix_RTE_Ile-de-France_Annuel-Definitif_2015.xls', encoding='ISO-8859-1',skiprows=1, header=None)
columns = ['Périmetre', 'Nature', 'Date', 'Heures', 'Consommation', 'Thermique',
       'Nucleaire', 'Eolien', 'Solaire', 'Hydraulique', 'Pompage',
       'Bioenergies', 'Ech.physiques','WTF']
dfRte2015.columns = columns
dfRte2015 = dfRte2015.drop(columns= ['WTF','Heures']) 
#dfRte2015 = dfRte2015.groupby('Date').sum().reset_index()
dfRte2015

,Périmetre,Nature,Date,Consommation,Thermique,Nucleaire,Eolien,Solaire,Hydraulique,Pompage,Bioenergies,Ech.physiques
0,Ile-de-France,Données définitives,2015-01-01,10949.0,860.0,-,0.0,0.0,6.0,-,159.0,9925.0
1,Ile-de-France,Données définitives,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ile-de-France,Données définitives,2015-01-01,10750.0,708.0,-,0.0,0.0,6.0,-,130.0,9907.0
3,Ile-de-France,Données définitives,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ile-de-France,Données définitives,2015-01-01,10408.0,695.0,-,0.0,0.0,6.0,-,130.0,9578.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35036,Ile-de-France,Données définitives,2015-12-31,9320.0,295.0,-,14.0,0.0,11.0,-,150.0,8850.0
35037,Ile-de-France,Données définitives,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35038,Ile-de-France,Données définitives,2015-12-31,9016.0,292.0,-,16.0,0.0,11.0,-,140.0,8558.0
35039,Ile-de-France,Données définitives,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35040,RTE ne pourra être tenu responsable de l'usage...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN